<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>project-survey</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but project-survey doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>


    <div id="app">
      <b-navbar toggleable="lg" type="dark" variant="info">
        <b-navbar-brand><router-link to="/">Home</router-link></b-navbar-brand>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item><router-link to="/form-1">Form-1</router-link></b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
      <router-view class="view"></router-view>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
