
<template>
  <b-container>
    <h1>Form 1</h1>
    <Table />
    <div>
      <b-table striped hover :items="items"></b-table>
    </div>
  </b-container>
</template>

<script>
import Table from '../components/Table.vue'
  export default {
    components: {
      Table
    },
    data() {
      return {
        items: [
          { age: 19, first_name: 'Dickerson', last_name: 'Macdonald' },
          { age: 0, first_name: 'safdfdsafdsa', last_name: 'afdsklj' }
        ]
      }
    }
  }
</script>