
<template>
  <b-container>
    <h1>Home</h1>
    <Table />
  </b-container>
</template>

<script>
import Table from '../components/Table.vue'
  export default {
    components: {
      Table
    }
  }
</script>